{% extends 'base.html.twig' %}

{% block title %}Edit SensorData{% endblock %}

{% block body %}
<div class="container-fluid">
    <!-- Page Heading -->
    <h1 class="h3 mb-4 text-gray-800">Edit Sensor Data</h1>

    <!-- Edit Form Card -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Edit Sensor Data Information</h6>
        </div>
        <div class="card-body">
            {{ include('sensor_data/_form.html.twig', {'button_label': 'Update'}) }}
        </div>
    </div>

    <!-- Actions -->
    <div class="d-flex justify-content-between mt-3">
        <!-- Back to List Button -->
        <a href="{{ path('app_sensor_data_index') }}" class="btn btn-secondary">
            <i class="fas fa-arrow-left"></i> Back to List
        </a>

        <!-- Delete Button -->
        {{ include('sensor_data/_delete_form.html.twig') }}
    </div>
</div>
{% endblock %}
